<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellsinner.exam.dao.CourseclasstaskMapper">
  <resultMap id="BaseResultMap" type="com.hellsinner.exam.model.dao.Courseclasstask">
    <id column="ClassTaskID" jdbcType="INTEGER" property="classtaskid" />
    <result column="TaskID" jdbcType="INTEGER" property="taskid" />
    <result column="CourClassID" jdbcType="INTEGER" property="courclassid" />
    <result column="ClassTaskName" jdbcType="VARCHAR" property="classtaskname" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="Status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ClassTaskID, TaskID, CourClassID, ClassTaskName, StartTime, EndTime, Status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from courseclasstask
    where ClassTaskID = #{classtaskid,jdbcType=INTEGER}
  </select>
  <select id="selectByClassid" resultType="com.hellsinner.exam.model.web.CourseclasstaskInfo">
    select a.CourName,b.CourClassName,c.*
    from course a,courseclass b,courseclasstask c
    where c.CourClassID in
    <foreach collection="classids" item="classid" separator="," open="(" close=")">
      #{classid,jdbcType=INTEGER}
    </foreach>
    and c.CourClassID = b.CourClassID and b.CourID = a.CourID
  </select>
  <select id="selectByClassTaskid" resultType="com.hellsinner.exam.model.web.CourseclasstaskInfo">
    select a.CourName,b.CourClassName,c.*
    from course a,courseclass b,courseclasstask c
    where c.ClassTaskID = #{classtaskid,jdbcType=INTEGER}
    and c.CourClassID = b.CourClassID and b.CourID = a.CourID
  </select>
  <select id="selectStuClassid" resultType="com.hellsinner.exam.model.web.CourseclasstaskInfo">
    select a.CourName,b.CourClassName,c.*
    from course a,courseclass b,courseclasstask c
    where c.Status = 1 and c.CourClassID in
    <foreach collection="classids" item="classid" separator="," open="(" close=")">
      #{classid,jdbcType=INTEGER}
    </foreach>
    and c.CourClassID = b.CourClassID and b.CourID = a.CourID
  </select>
  <select id="examine" resultType="com.hellsinner.exam.model.web.ExamineInfo">
    select a.CourClassName,b.UserID,c.TotalScore,d.Name,c.Status
    from courseclass a INNER JOIN courstudent b ON a.CourClassID = b.CourClassID
    INNER JOIN user d ON b.UserID = d.UserID INNER JOIN stutaskanswer c ON b.UserID = c.UserID
    where a.CourClassID = #{courclassid,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.hellsinner.exam.model.dao.Courseclasstask">
    <selectKey resultType="int" order="AFTER" keyProperty="classtaskid">
      select LAST_INSERT_ID()
    </selectKey>
    insert into courseclasstask (ClassTaskID, TaskID, CourClassID, 
      ClassTaskName, StartTime, EndTime, 
      Status )
    values (#{classtaskid,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, #{courclassid,jdbcType=INTEGER}, 
      #{classtaskname,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.hellsinner.exam.model.dao.Courseclasstask">
    update courseclasstask
    set TaskID = #{taskid,jdbcType=INTEGER},
      CourClassID = #{courclassid,jdbcType=INTEGER},
      ClassTaskName = #{classtaskname,jdbcType=VARCHAR},
      StartTime = #{starttime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER}
    where ClassTaskID = #{classtaskid,jdbcType=INTEGER}
  </update>
</mapper>