<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellsinner.exam.dao.CourseclasstaskMapper">
  <resultMap id="BaseResultMap" type="com.hellsinner.exam.model.dao.Courseclasstask">
    <id column="ClassTaskID" jdbcType="INTEGER" property="classtaskid" />
    <result column="TaskID" jdbcType="INTEGER" property="taskid" />
    <result column="CourClassID" jdbcType="INTEGER" property="courclassid" />
    <result column="ClassTaskName" jdbcType="VARCHAR" property="classtaskname" />
    <result column="StartTime" jdbcType="DATE" property="starttime" />
    <result column="EndTime" jdbcType="DATE" property="endtime" />
    <result column="Status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ClassTaskID, TaskID, CourClassID, ClassTaskName, StartTime, EndTime, Status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from courseclasstask
    where ClassTaskID = #{classtaskid,jdbcType=INTEGER}
  </select>
  <select id="selectByClassid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from courseclasstask
    where CourClassID = #{classid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from courseclasstask
    where ClassTaskID = #{classtaskid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hellsinner.exam.model.dao.Courseclasstask">
    <selectKey resultType="int" order="AFTER" keyProperty="classtaskid">
      select LAST_INSERT_ID()
    </selectKey>
    insert into courseclasstask (ClassTaskID, TaskID, CourClassID, 
      ClassTaskName, StartTime, EndTime, 
      Status)
    values (#{classtaskid,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, #{courclassid,jdbcType=INTEGER}, 
      #{classtaskname,jdbcType=VARCHAR}, #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hellsinner.exam.model.dao.Courseclasstask">
    <selectKey resultType="int" order="AFTER" keyProperty="classtaskid">
      select LAST_INSERT_ID()
    </selectKey>
    insert into courseclasstask
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classtaskid != null">
        ClassTaskID,
      </if>
      <if test="taskid != null">
        TaskID,
      </if>
      <if test="courclassid != null">
        CourClassID,
      </if>
      <if test="classtaskname != null">
        ClassTaskName,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="status != null">
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classtaskid != null">
        #{classtaskid,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="courclassid != null">
        #{courclassid,jdbcType=INTEGER},
      </if>
      <if test="classtaskname != null">
        #{classtaskname,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hellsinner.exam.model.dao.Courseclasstask">
    update courseclasstask
    <set>
      <if test="taskid != null">
        TaskID = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="courclassid != null">
        CourClassID = #{courclassid,jdbcType=INTEGER},
      </if>
      <if test="classtaskname != null">
        ClassTaskName = #{classtaskname,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ClassTaskID = #{classtaskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hellsinner.exam.model.dao.Courseclasstask">
    update courseclasstask
    set TaskID = #{taskid,jdbcType=INTEGER},
      CourClassID = #{courclassid,jdbcType=INTEGER},
      ClassTaskName = #{classtaskname,jdbcType=VARCHAR},
      StartTime = #{starttime,jdbcType=DATE},
      EndTime = #{endtime,jdbcType=DATE},
      Status = #{status,jdbcType=INTEGER}
    where ClassTaskID = #{classtaskid,jdbcType=INTEGER}
  </update>
</mapper>